snippet log
console.log("$1");
endsnippet

snippet info
console.info("$1");
endsnippet

snippet error
console.error("$1");
endsnippet

snippet cdm "component did mount"
componentDidMount: function() {
  ${1}
},$0
endsnippet





