
snippet hand
cursor: pointer;
endsnippet

snippet bold
font-weight: bold;
endsnippet

snippet center
text-align: center;
endsnippet

snippet bgcolor
background-color: $1;
endsnippet

snippet ml
margin-left: $1px;
endsnippet

snippet mr
margin-right: $1px;
endsnippet

snippet fl
float: left;
endsnippet

snippet fr
float: right;
endsnippet

snippet large
font-size: large;
endsnippet

snippet x-large
font-size: x-large;
endsnippet

snippet xx-large
font-size: xx-large;
endsnippet


